<div class="ctci_docdatadebug">
	
	<ul class="infodoc">
		<li>Fecha de publicación: {{data.doc_day}}/{{data.doc_month}}/{{data.doc_year}}</li>
		<li><a href="{{data.pdfurl}}">Descarga</a></li>
	</ul>
	
</div>