{# <iframe class="pdfviewer" src="{{ data.pdfurl }}"></iframe> #}

<div id="ctci_videoviewer" class="ctci_youtubeviewer">
	<div class="iframe-container">
	<iframe width="560" height="315" src="//www.youtube.com/embed/{{ data.ytid }}" frameborder="0" allowfullscreen>
	</iframe>
	</div>
</div>