//Cytoscape styling

#ctcicy_container {
	margin: 0 0 24px 0;
}

#ctcicy {
	min-height: 600px;
	height: 100%;
	@extend .col-md-9;
}

#ctcicy_info {
	@extend .col-md-3;
	box-shadow: 0 0 3px #555;
	border-radius: 15px;

	h3 {
		font-weight: 600;
		margin: 12px 0;
	}

	h4 {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
	}

	span.nodesigla {
		display: inline-block;
		padding: 3px;
		background-color: #C84630;
		color: white;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		text-align: center;
		vertical-align: middle;
		font-weight: 600;
		font-size: 12px;
		line-height: 26px;
	}

	span.termcount {
		font-size: 12px;
		display: inline-block;
		padding: 0 4px;
		background-color: #ccc;
		border-radius: 3px;
	}

	p.nodelegend.active {
		span.nodesigla {
			background-color: #F95738;
			color: white;
		}
	}
}

#node-info {
	h2 {
		margin: 12px 0 0 0;
		font-size: 18px;
		font-style: italic;
	}

	span.date {
		font-weight: 600;
		display: inline-block;
		margin-bottom: 12px;
	}

	p.autor {
		font-size: 14px;
		margin: 6px 0 0 0;
		line-height: 1.3em;
	}

	h3 {
		font-size: 13px;
	}

	span.nodeterm {
		font-size: 14px;
		display: inline-block;
		padding: 4px;
		margin: 0 4px 4px 0;
		border-radius: 10px;
		border: 1px solid #555;
	}

	a.doclink {
		display: inline-block;
		background-color: #005566;
		color: white;
		border-radius: 10px;
		margin: 12px 0;
		padding: 6px 12px;
	}


}

#ctcicy_taxswitch {
	margin-top: 6px;
	padding-top: 6px;
	border-top: 1px solid #ccc;
}