//Cytoscape styling

$docColor: #EE964B;
$docColorActive: #F95738;

#ctcicy_container {
	margin: 0 0 24px 0;
}

#ctcicy {
	min-height: 600px;
	height: 100%;
	@extend .col-md-9;
}

#ctcicy_info {
	@extend .col-md-3;
	box-shadow: 0 0 3px #555;
	border-radius: 15px;

	h3 {
		font-weight: 600;
		margin: 12px 0;
	}

	h4 {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
	}

	span.nodesigla {
		display: inline-block;
		padding: 2px 3px 3px 3px;
		background-color: $docColor;
		color: white;
		border-radius: 10px;
		border: 0.5px solid #555;
		width: 30px;
		height: 30px;
		text-align: center;
		vertical-align: middle;
		font-weight: 600;
		font-size: 12px;
		line-height: 26px;
	}

	span.termcount {
		font-size: 12px;
		display: inline-block;
		padding: 0 4px;
		background-color: #ccc;
		border-radius: 3px;
	}

	p.nodelegend {
		cursor: pointer;
		&:hover {
			span.nodesigla {
				background-color: desaturate($docColorActive, 30%);
				color: white;
			}
		}
	}

	p.nodelegend.active {
		span.nodesigla {
			background-color: $docColorActive;
			color: white;
		}
	}
}

#legend-info {
	display: none;
	transition: all ease-in 0.5s;
	opacity: 0;

	&.active {
		display: block;
		opacity: 1;
	}

	h3 {
		font-size: 16px;
		&.legendsection {
			padding-top: 12px;
			border-top: 1px solid #ccc;
		}
	}

	.taxCount {
		span {
			display: inline-block;
			background-color: $docColor;
			border-radius: 5px;
			border: 1px solid #333;
			width: 15px;
			height: 15px;
			margin-right: 6px;
			
			&:nth-child(2) {
				width: 20px;
				height: 20px;
			}

			&:nth-child(3) {
				width: 25px;
				height: 25px;
			}

			&:nth-child(4) {
				width: 30px;
				height: 30px;
			}

			&:nth-child(5) {
				width: 35px;
				height: 35px;
			}
		}
	}

	.docdesc {
		margin-bottom: 0;
		font-size: 14px;
		span {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			margin-right: 10px;
			&.has {
				background-color: #555;
			}
			&.hasnot {
				background-color: #ccc;
			}
		}
	}
}

#node-info {
	position: relative;
	opacity: 0;
	display: none;
	transition: all ease-in 0.5s;
	
	&.active {
		display: block;
		opacity: 1;
	}

	h2 {
		margin: 12px 0 0 0;
		padding-top: 36px;
		font-size: 18px;
		font-style: italic;
	}

	span.date {
		font-weight: 600;
		display: inline-block;
		margin-bottom: 12px;
	}

	p.autor {
		font-size: 14px;
		margin: 6px 0 0 0;
		line-height: 1.3em;
	}

	h3 {
		font-size: 13px;
	}

	span.nodeterm {
		font-size: 14px;
		display: inline-block;
		padding: 4px;
		margin: 0 4px 4px 0;
		border-radius: 10px;
		border: 1px solid #555;
	}

	a.doclink {
		display: inline-block;
		background-color: #005566;
		color: white;
		border-radius: 10px;
		margin: 12px 0;
		padding: 6px 12px;
	}

	span#closeInfo {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
		font-size: 14px;
		color: #333;
		cursor: pointer;
		text-transform: uppercase;
		border: 1px solid #333;
		border-radius: 10px;
		padding: 3px 12px;
		&:hover {
			background-color: #f0f0f0;
		}
	}

}

#ctcicy_taxswitch {
	margin-top: 6px;
	padding-top: 6px;
	border-top: 1px solid #ccc;
}

#ctcicy_ui {
	.zoom {
		margin: 12px 0;
		span {
			display: inline-block;
			width: 46px;
			text-align: center;
			font-size: 24px;
			line-height: 24px;
			font-family: sans-serif;
			padding: 3px 6px;
			font-weight: bold;
			background-color: white;
			border: 1px solid #333;
			border-radius: 10px;
			margin-right: 6px;
			cursor: pointer;

			&:hover {
				background-color: #f0f0f0;
			}
		}
	}

	#ctcicy_reset {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		border-radius: 5px;
	}
}