.DocItem {
	padding: 24px;
	border: 1px solid #777;
	border-radius: 10px;
	display: flex;
	align-items: flex-start;
	margin-bottom: 24px;
	background-color: white;
	h1 {
		font-weight: 600;
		font-size: 24px;
		a {
			color: #333;
		}
	}

	.DocMeta {
		.date {
			font-weight: 600;
		}
	}

	img, .placeholder {
		//float: left;
		margin-right: 24px;
		background-color: #f0f0f0;
		width: 200px;
		height: auto;
		flex-shrink: 0;
		box-shadow: 0 1px 6px #ccc;
	}

	.docText {
		//margin-right: 212px;
	}

	.infodoc {
		li {
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}
}
