//Page stylings

body.page {
	.content-wrapper {
		background-color: white;
		@extend .container;
		> article  {
			@extend .row; 
			.article-content {
				@extend .col-md-12;

				h1.article-h1 {
					font-weight: 600;
					font-size: 24px;
					margin: 12px 0
				}
			}
		}
	}
}

body.page.home .content-wrapper {
	background-color: transparent;
}