.mini.container {
	padding: 0;
}

.searchButton,
.cleanButton {
	background-color: #777;
	color: white;
	border: 0;
	padding: 12px 24px;
	margin: 12px 0;
}

.cleanButton {
	margin: 0;
}

.searchInfo {
	font-size: 72px;
	font-weight: 800;
	text-transform: uppercase;
	color: white;
	text-align: left;
	line-height: 1.2em;
}

.SearchField {
	input[type="text"] {
		margin: 0 auto;
		padding: 12px;
		font-size: 24px;
		//min-width: 300px;
		max-width: 600px;
		border-radius: 15px;
	}
}

.expanded .SearchField {
	.searchButton {
		padding: 12px 36px;
		min-width: 210px;
	}
}


.yearTo {
	margin:6px 0 0 20px;
}


.years-selects {
	text-align: left;
	label {
		color: #777;
	}
}

.expanded .SearchField {
	border-bottom: 0;
}

.SearchZone {
	text-align: right;
	padding: 24px;
	margin-bottom: 0;
	background-color: #ccc;
	text-align: center;
}

.expanded {
	.SearchZone {
		background-color: transparent;
		box-shadow: none;
		color: white;
	}

	.form-row {
		flex-direction: column;
	}

	.mainSearchInput {
		margin-left: auto;
		margin-right: auto;
		text-align: right;

		.toggleLayout {
			display: inline-block;
			margin-top: 4px;
			text-decoration: underline;
			font-weight: 500;
			cursor: pointer;
			&:hover {
				text-decoration: none;
			}
		}
	}

	.years-selects {
		max-width: 300px;
		margin: 0 auto;
	}
}

.mini .mainSearchInput {
	@include respond-below(md) {
			margin-bottom: 24px;
		}
}

.mini .colsearchbutton,
.mini .colclean {
	text-align: right;
	max-width: 160px;
	button {
		width: 100%;
	}
}

//cambiar este nombre confuso
.mini .searchZone {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 0;
	.form-row {
		width: 100%;
	}

	.searchButton {
		margin-top: 0;
	}

	.years-selects.form-row {
		padding: 0;
		margin-top: -24px;
	}
}

.TaxBrowserHome {
	
	margin-bottom: 120px;

	.filterHomeSection {
		padding: 36px;
		background-color: #ccc;
		color: #777;
		margin-bottom: 24px;
		position: relative;
		.extraBrowser {
			position: absolute;
			right: 12px;
			top: 12px;
		}
	}

	.TaxBrowser {
		padding: 0;
	}

	h3.taxTitle,
	.TaxBrowser label
	 {
	 	font-size: 1.75rem;
		font-weight: 800;
		text-align: center;
		margin-bottom: 24px;
		color: #777;
		@include respond-below(md) {
			font-size: 20px;
		}
	}
}

.TaxBrowser {
	margin-top: 24px;
	padding: 36px;
	background-color: #ccc;
	color: #777;
	h3.numberResults {
		font-size: 22px;
		font-weight: 800;
		text-align: left;
		color: #333;
		margin: 0;
	}

	label {
		font-size: 14px;
		color: #333;
	}

	.col, .col-md-2 {
		padding: 5px;
	}
}



.searchMainTitle {
	font-size: 72px;
	text-align: center;
	font-weight: 800;
	color: white;
	text-transform: uppercase;
	max-width: 600px;
	margin: 12px auto;
	@include respond-below(xl) {
		font-size: 46px;
	}
}

.taxbrowserTitle {
	//text-transform: uppercase;
	text-align: center;
	color: #333;
	font-size: 48px;
	margin: 24px 0 48px 0;
	font-weight: 800;
	@include respond-below(xl) {
		font-size: 32px;
		margin:0 0 24px 0;
	}
	@include respond-below(md) {
		font-size: 24px;
		margin: 0 0 24px 0;
	}
}

.taxColHome {
	@include respond-above(md) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	@include respond-below(md) {
		margin-bottom: 24px;
	}
}

#ctci_search .mini {
	.searchInfo {
		font-size: 36px;

		@include respond-below(md) {
			font-size: 24px;
			text-align: center;
		}
	}
}

.form-row {
	padding: 12px 0;
}

h3.resultsTitle {
	margin: 24px 0 0 0;
}

.loadingZone {
	text-align: center;
	padding: 24px;
}

.results {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 24px;
	border: 0;
	margin: 0;
	box-shadow: inset 0px 2px 4px #333;
	
	@include respond-below(md) {
		padding: 6px;
	}
}

.results.empty {
	//padding: 0;

	p:empty {
		display: none;
	}
}

.titleZone {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.resultsDetail {
	padding: 0;
	margin-bottom: 24px;
	p {
		padding: 0;
		margin: 0;
	}

	.yearRange {
		span {
			display: inline-block;
			padding: 0 3px;
		}
	}

	@include respond-below(md) {
		margin-bottom: 0;
	}
}

.resultsDetail:empty {
	display: none;
}

.TaxBrowserHome {
	text-align: center;

	h3 {
		margin-bottom: 0;
	}
}

.termdesc {
	margin: 12px 0;
}

.toggleFilters {
	font-size: 24px;
	font-weight: 600;
	color: #333;
	cursor: pointer;
	margin-bottom: 0;
}